<!--
  Generated template for the CropDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding *ngIf="crop">
  <h1>{{crop.name}}<ion-icon *ngIf="!userClient" class="Clickable" (click)="delete()" name="trash"></ion-icon><ion-icon *ngIf="!userClient" (click)="openEditPage($event)" name="create"></ion-icon></h1>
  <ion-col col-12>
    <h3 margin-left>{{crop.initial_date}} - {{crop.final_date}}</h3>
    <div loader class=""><div [attr.loaded]="percentage"></div></div>
  </ion-col>
  <form-modal [submit]="submitStock" [showVariable]="stockToBeUsed" (outEvent)="stockToBeUsed = $event">
    <h2 *ngIf="stockToBeUsed" title>Usar estoque <br> <span *ngIf="stockToBeUsed.activity_type">{{stockToBeUsed.activity_type.group_id}} - {{stockToBeUsed.activity_type.name}}</span></h2>
    <p *ngIf="stockToBeUsed" sub-title>Quantidade: {{stockToBeUsed.quantity}}</p>
    <ion-row *ngIf="stockToBeUsed" form-row>
      <ion-col col-12 col-md-12>
        <ion-item>
          <ion-label floating>Quantidade*</ion-label>
          <ion-input type="text" (ionChange)="calculateTotalStock(stockToBeUsed)" [(ngModel)]="useQuantity" name="useQuantity" value=""></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-md-12>
        <ion-item>
          <ion-label floating>Total*</ion-label>
          <ion-input type="text" readonly [(ngModel)]="useStockTotal" name="total" value=""></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Data da operação*</ion-label>
          <ion-input required [(modelMask)]="useOperationDate" [clean]="false" [form]="RegisterForm" mask="99/99/9999" maskPlaceHolder="_" name="useOperationDate" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>

        <ion-item>
          <ion-label floating>Data do pagamento*</ion-label>
          <ion-input required [(modelMask)]="usePaymentDate" [clean]="false" [form]="RegisterForm" mask="99/99/9999" maskPlaceHolder="_" name="useOperationDate" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form-modal>
  <form-modal [submit]="submitDescription" [showVariable]="editDescription" (outEvent)="editDescription = false">
    <h2 title>Adicionar descrição</h2>
    <ion-row  form-row>
      <ion-col col-12 col-md-12>
        <ion-item>
          <ion-textarea rows="10" maxlength="500" [(ngModel)]="crop.description" name="description" placeholder="Descrição"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </form-modal>
  <ion-grid padding>
    <ion-row>
      <ion-col *ngIf="crop" col-12 col-md-6 style="line-height:25px;" class="vr-right">
        {{crop.field.farm.name}}<br>
        {{crop.field.name}}<br>
        {{crop.culture.name}}<br>
        Expectativa: {{crop.sack_expected}} sacas<br>
        Produzido:
        <span *ngIf="!sack_editing">{{crop.sack_produced}} sacas <ion-icon *ngIf="!sack_editing && !userClient" style="cursor:pointer" (click)="editSack()" name="create"></ion-icon></span>
        <span *ngIf="sack_editing && !userClient">
          <form class="form-person" (ngSubmit)="saveSacks()" #RegisterForm="ngForm">
            <ion-input type="number" class="input-person" required maxlength="45" #name="ngModel" [(ngModel)]="crop.sack_produced" name="sack_produced" value=""></ion-input>
            <button class="button-person" type="submit" [disabled]="!RegisterForm.form.valid " ion-button col-12 col-md-3>Salvar</button>
            <button class="button-person" ion-button full (click)="editSack()" type="button" name="button">Cancelar</button>
          </form>
        </span>
      </ion-col>
      <ion-col *ngIf="crop" style="line-height:25px;" col-12 col-md-6>
        {{crop.field.farm.client.name}}<br>
        <span *ngIf="crop">{{crop.field.farm.client.email}}</span><br>
        {{crop.field.farm.client.phone | phone}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="crop.description">
    <div margin-bottom class="horizontalLine">
      <h2>Analise econômica descritiva</h2>

    </div>
    <div margin-left padding-left margin-right padding-right class="">
      {{crop.description}}
    </div>
  </div>
  <div margin-bottom class="horizontalLine">
    <h2>Renda Bruta</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <table *ngIf="crop" margin-top col-12>
          <tr>
            <th>Descrição</th>
            <th>Valor </th>
            <th class="text-center" *ngIf="!userClient">Ações</th>
          </tr>
          <tr *ngFor="let iten of crop.gross_income.history" >
            <td>{{iten.description}}</td>
            <td class="text-right">{{iten.total | currency:crop.field.farm.currency_id}}</td>
            <th class="text-center" *ngIf="!userClient"><ion-icon *ngIf="iten.delete_url" class="Clickable" (click)="deleteIncome(iten)" name="trash"></ion-icon></th>
          </tr>
          <tr>
            <th>Total</th>
            <th class="text-right">{{crop.gross_income.total | currency:crop.field.farm.currency_id}}</th>
            <th class="text-center" *ngIf="!userClient">--</th>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div margin-bottom class="horizontalLine">
    <h2>Inventario utilizado</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <table *ngIf="crop" margin-top col-12>
          <tr>
            <th>Nome</th>
            <th>Tempo de depreciação</th>
            <th>Valor Total</th>
            <th>depreciação/mes</th>
          </tr>
          <tr *ngFor="let iten of crop.inventory_itens" >
            <td>{{iten.name}}</td>
            <td class="text-right">{{iten.depreciation_time}}</td>
            <td class="text-right">{{iten.price | currency:crop.field.farm.currency_id}}</td>
            <td class="text-right">{{iten.depreciation_value / 100 * percentage_area | currency:crop.field.farm.currency_id}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <th></th>
            <th class="text-right">{{itens_total_value | currency:crop.field.farm.currency_id}}</th>
            <th class="text-right">{{itens_depreciation_value | currency:crop.field.farm.currency_id}}</th>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!userClient" margin-bottom class="horizontalLine">
    <h2>Estoque</h2>
  </div>
  {{useQuantity}}
  <ion-grid *ngIf="!userClient">
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <table *ngIf="stocks" margin-top col-12>
          <tr>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor unitario</th>
            <th>Valor total</th>
            <th>Ações</th>
          </tr>
          <tr *ngFor="let stock of stocks" >
            <td>{{stock.activity_type.group_id}} - {{stock.activity_type.name}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.quantity}}</td>
            <td>{{stock.unity_value | currency:crop.field.farm.currency_id}}</td>
            <td>{{stock.total_value | currency:crop.field.farm.currency_id}}</td>
            <td><button (click)="selectStock(stock)" ion-button>Usar</button></td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div margin-bottom class="horizontalLine">
    <h2>Atividades</h2>
  </div>
  <div class="archives">
    <h4 [ngClass]="{'active':!indicators}" (click)="indicatorTab(false)">Detalhes</h4>
    <h4 [ngClass]="{'active':indicators}" (click)="indicatorTab(true)">Indicadores</h4>
  </div>
  <div class="folder" *ngIf="indicators">
    <indicators [crop]="crop"></indicators>
  </div>
  <div *ngIf="!indicators" class="folder">
    <ion-grid padding-left padding-right>
      <div *ngFor="let activities of activitiesPerCurrency; let i = index" padding-bottom>
        <div *ngIf="drawCharts" class="myRow">
          <ion-col *ngIf="lineChartData[i].data.length>1" col-lg-6>
            <h3 margin-left padding-left>Tipo de Atividade X Valor</h3>
            <canvas baseChart
            *ngIf="pieChartData[i]"
            [colors]="colors"
            [data]="pieChartData[i].data"
            [labels]="pieChartData[i].labels"
            [options]="pieChartOptions"
            chartType="pie"></canvas>
          </ion-col>
          <ion-col *ngIf="lineChartData[i].data.length>1" col-lg-6>
            <h3 margin-left padding-left>Meses X Valor</h3>
            <canvas baseChart
            [colors]="linechartColors"
            [data]="lineChartData[i].data"
            [labels]="lineChartData[i].labels"
            [options]="lineChartOptions"
            [colors]="colors"
            chartType="line"></canvas>
          </ion-col>
          <ion-col *ngIf="lineChartData[i].data.length<=1" col-12>
            <h3 margin-left padding-left>Tipo de Atividade X Valor</h3>
            <canvas baseChart
            *ngIf="pieChartData[i]"
            [colors]="colors"
            [data]="pieChartData[i].data"
            [labels]="pieChartData[i].labels"
            [options]="pieChartOptions"
            chartType="pie"></canvas>
          </ion-col>
        </div>
        <!-- <ion-row style="display:flex;align-items:center;background-color:white">
          <ion-col col-11>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-col>
          <ion-col col-1 >
            <button *ngIf="!userClient" style="background-color:transparent"> <ion-icon name="person-add" style="font-size:30px;"></ion-icon></button>
          </ion-col>
        </ion-row> -->
        <table class="table" *ngIf="activities.length>0" col-12>
          <tr>
            <th>Data operação</th>
            <th>Produto / Serviço</th>
            <th class="hide-md">Dose</th>
            <th class="hide-md">Quantidade</th>
            <th class="hide-md">Valor por ha {{crop.field.farm.currency_id=='BRL' ? 'R$':'U$'}}</th>
            <th>Total  {{crop.field.farm.currency_id=='BRL' ? 'R$':'U$'}}</th>
            <th *ngIf="!userClient">Ações</th>
          </tr>
          <tr *ngFor="let activity of activities">
            <td>{{activity.operation_date | date: 'dd/MM/yyyy'}}</td>
            <td>{{activity.activity_type.id}} - <span *ngIf="activity.product_name">{{activity.product_name}}</span> <span *ngIf="!activity.product_name">{{activity.activity_type.name}}</span></td>
            <td class="hide-md text-right" *ngIf="activity.dose">{{activity.dose | number:'1.2'}} <span *ngIf="activity.unity">{{activity.unity.id}}</span>/ha</td>
            <td class="hide-md text-center" *ngIf="!activity.dose">--</td>
            <td class="hide-lg text-right" *ngIf="activity.quantity">{{activity.quantity | number:'1.2'}} <span *ngIf="activity.unity">{{activity.unity.id}}</span></td>
            <td class="hide-md text-center" *ngIf="!activity.quantity">--</td>
            <td class="hide-md text-right" *ngIf="activity.value_per_ha">{{activity.value_per_ha | number:'1.2'}}</td>
            <td class="hide-md text-center" *ngIf="!activity.value_per_ha">--</td>
            <td class="text-right">{{activity.total_value | number:'1.2'}}</td>
            <td class="text-center" *ngIf="!userClient"><ion-icon padding-right class="Clickable" (click)="openActivityEditPage(activity)" name="create"></ion-icon><ion-icon class="Clickable" (click)="deleteActivity(activity)" name="trash"></ion-icon></td>
          </tr>
          <tr>
            <th>Total</th>
            <th></th>
            <th class="hide-md"></th>
            <th class="hide-md"></th>
            <th class="hide-md text-right">{{totalValueHa(activities) | currency:crop.field.farm.currency_id}}</th>
            <th class="text-right">{{totalValue(activities) | currency:crop.field.farm.currency_id}}</th>
            <th *ngIf="!userClient"></th>
          </tr>
        </table>
      </div>
    <!-- </div> -->
    </ion-grid>
  </div>
  <actions [actions]="actions" *ngIf="!userClient"></actions>
</ion-content>
