<!--
  Generated template for the CropDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding *ngIf="crop">
  <h1>{{crop.name}}</h1>
  <ion-col col-12>
    <h3 margin-left>{{crop.initial_date | date:'dd/MM/yyyy'}} - {{crop.final_date | date:'dd/MM/yyyy'}}</h3>
    <div loader class=""><div [attr.loaded]="percentage"></div></div>
  </ion-col>
  <ion-grid padding>
    <ion-row>
      <ion-col *ngIf="crop" col-12 col-md-6 style="line-height:25px;" class="vr-right">
        {{crop.field.farm.name}}<br>
        {{crop.field.name}}<br>
        {{crop.culture.name}}<br>
      </ion-col>
      <ion-col *ngIf="crop" style="line-height:25px;" col-12 col-md-6>
        {{crop.field.farm.client.name}}<br>
        <span *ngIf="crop">{{crop.field.farm.client.email}}</span><br>
        {{crop.field.farm.client.phone | phone}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div margin-bottom class="horizontalLine">
    <h2>Atividades</h2>
  </div>
  <ion-grid class="table">
    <ion-row style="display:flex;align-items:center;background-color:white">
      <ion-col col-11>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
      <ion-col col-1 >
        <button style="background-color:transparent"> <ion-icon name="person-add" style="font-size:30px;"></ion-icon></button>
      </ion-col>
    </ion-row>
    <table *ngIf="crop.activities.length>0" col-12>
      <tr>
        <th>Data operação</th>
        <th>Produto/Serviço</th>
        <th class="hide-md">Dose</th>
        <th class="hide-md">Quantidade</th>
        <th class="hide-md">Valor por ha</th>
        <th>Total</th>
      </tr>
      <tr (click)="openActivityPage(activity)" class="Clickable" *ngFor="let activity of crop.activities">
        <td>{{activity.operation_date | date: 'dd/MM/yyyy'}}</td>
        <td>{{activity.activity_type.id}} - {{activity.activity_type.name}}</td>
        <td class="hide-md" >{{activity.dose}}{{activity.unity.id}}/ha</td>
        <td class="hide-md" >{{activity.quantity}}{{activity.unity.id}}</td>
        <td class="hide-md" >R$ {{activity.value_per_ha}}</td>
        <td>R$ {{activity.total_value}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <th></th>
        <th class="hide-md"></th>
        <th class="hide-md"></th>
        <th class="hide-md">R$ {{total_value_ha}}</th>
        <th>R$ {{total_value}}</th>
      </tr>
    </table>
    <ng-container *ngIf="crop.activities.length<=0">
      <ion-row>
        <ion-col text-center padding>
          Nem uma atividade cadastrada ainda, <a href="" (click)="openRegisterPage($event)">clique aqui</a> para cadastrar uma atividade.
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
