<!--
  Generated template for the FarmDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <h1 *ngIf="farm">Fazenda {{farm.name}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6>
        <contact *ngIf="farm" [client]="farm.client" [showName]="true" [label]="'Dono'"></contact>
      </ion-col>
      <ion-col col-12 col-md-6>
        <culture *ngIf="farm" [cultures]="farm.cultures"></culture>
      </ion-col>
      <ion-col col-12 margin-top>
        <address *ngIf="farm" [address]="farm.address" [showMap]="true"></address>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="horizontalLine">
    <h2>Talhões</h2>
  </div>
  <ion-grid *ngIf="farm" class="farmsWraper">
    <ion-row *ngIf="farm.fields.length>0" [ngStyle]="{'width': 300  * farm.fields.length + 'px'}">
      <field-info [ngStyle]="{'width': 300 +'px'}" (click)="openFieldPage(field)" *ngFor="let field of farm.fields" [field]="field"></field-info>
    </ion-row>
    <ion-row *ngIf="farm.fields.length<=0">
      <ion-col text-center col-12>
        Nem um talhão cadastrado para esta fazenda,<a href="" (click)="openFieldRegister($event)">clique aqui</a> para cadastrar um.
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="horizontalLine">
    <h2>Inventorio Rural</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <button style="background-color:transparent; float: right;margin-bottom: 5px;" (click)="openRegisterInventory($event)"> <ion-icon name="add-circle" style="font-size:30px;"></ion-icon></button>
        <table *ngIf="farm" margin-top col-12>
          <tr>
            <th>Nome</th>
            <th>Tempo de depreciação</th>
            <th>Valor Total</th>
            <th>depreciação/mes</th>
          </tr>
          <tr *ngFor="let iten of farm.inventory_itens" >
            <td>{{iten.name}}</td>
            <td>{{iten.depreciation_time}}</td>
            <td>R$ {{iten.price}}</td>
            <td>R$ {{iten.depreciation_value}}</td>
          </tr>
          <tr *ngIf="farm.inventory_itens.length>0" >
            <th>Total</th>
            <th></th>
            <th>R$ {{total_value}}</th>
            <th>R$ {{total_depreciation_value}}</th>
          </tr>
          <tr *ngIf="farm.inventory_itens.length==0" >
            <td colspan="4" text-center>Nem um iten cadastrado ainda.</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <actions [actions]="actions"></actions>
</ion-content>
