<!--
  Generated template for the FarmDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <h1 *ngIf="farm">Fazenda {{farm.name}}<ion-icon *ngIf="!userClient" class="Clickable" (click)="delete()" name="trash"></ion-icon><ion-icon *ngIf="!userClient" (click)="openEditPage($event)" name="create"></ion-icon></h1>
  <p *ngIf="farm">    </p>
  <ion-grid>
    <ion-row *ngIf="farm">
      <ion-col col-12 col-md-6 col-lg-3>
        <h5>Tamanho:<br>&nbsp;&nbsp;&nbsp;{{farm.ha}}ha</h5>
      </ion-col>
      <ion-col col-12 col-md-6 col-lg-3>
        <h5>Valor por ha:<br>&nbsp;&nbsp;&nbsp;{{farm.value_ha | currency:'BRL'}}/ha</h5>
      </ion-col>
      <ion-col col-12 col-md-6 col-lg-3>
        <h5>Capital empatado em terra:<br>&nbsp;&nbsp;&nbsp;{{farm.capital_tied | currency:'BRL'}}</h5>
      </ion-col>
      <ion-col col-12 col-md-6 col-lg-3>
        <h5>Remuneração ao mês:<br>&nbsp;&nbsp;&nbsp;{{farm.remuneration | currency:'BRL'}}/mes</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <contact *ngIf="farm" [client]="farm.client" [showName]="true" [label]="'Dono'"></contact>
      </ion-col>
      <ion-col col-12 col-md-6>
        <culture *ngIf="farm" [cultures]="farm.cultures"></culture>
      </ion-col>
      <ion-col *ngIf="farm&&mapUrl" col-12 col-md-12>
        <iframe
        width="100%"
        height="450"
        frameborder="0" style="border:0"
        [src]="mapUrl" allowfullscreen>
      </iframe>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="horizontalLine">
    <h2>Talhões</h2>
  </div>
  <ion-grid *ngIf="farm" class="farmsWraper">
    <ion-row *ngIf="farm.fields.length>0" [ngStyle]="{'width': 300  * farm.fields.length + 'px'}">
      <field-info [ngStyle]="{'width': 300 +'px'}" (click)="openFieldPage(field)" *ngFor="let field of farm.fields" [field]="field"></field-info>
    </ion-row>
    <ion-row *ngIf="farm.fields.length<=0">
      <ion-col text-center col-12>
        Nem um talhão cadastrado para esta fazenda,<a href="" (click)="openFieldRegister($event)">clique aqui</a> para cadastrar um.
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="horizontalLine">
    <h2>Inventorio Rural</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <button *ngIf="!userClient" style="background-color:transparent; float: right;margin-bottom: 5px;" (click)="openRegisterInventory($event)"> <ion-icon name="add-circle" style="font-size:30px;"></ion-icon></button>
        <table *ngIf="farm" margin-top col-12>
          <tr>
            <th>Nome</th>
            <th>Tempo de depreciação</th>
            <th>Valor Total</th>
            <th>depreciação/mes</th>
          </tr>
          <tr *ngFor="let iten of farm.inventory_itens" >
            <td>{{iten.name}}</td>
            <td>{{iten.depreciation_time}}</td>
            <td>{{iten.price | currency:'BRL'}}</td>
            <td>{{iten.depreciation_value | currency:'BRL'}}</td>
          </tr>
          <tr>
            <td>Capital empatado em terra</td>
            <td> -- </td>
            <td>{{farm.capital_tied | currency:'BRL'}}</td>
            <td> -- </td>
          </tr>
          <tr>
            <td>Remuneração ao mês</td>
            <td> -- </td>
            <td>{{total_remunaration | currency:'BRL'}}</td>
            <td> -- </td>
          </tr>
          <tr>
            <th>Total</th>
            <th></th>
            <th>{{total_value | currency:'BRL'}}</th>
            <th>{{total_depreciation_value | currency:'BRL'}}</th>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="horizontalLine">
    <h2>Renda Bruta</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col padding-left padding-right col-12>
        <table *ngIf="farm" margin-top col-12>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
          <tr *ngFor="let iten of farm.income_histories" >
            <td >{{iten.date | date:'dd/MM/yyyy'}}</td>
            <td >{{iten.description}}</td>
            <td [ngStyle]="iten.expense==1 ? {'color':'red'}:{'color' : 'green'}">{{iten.value | currency:'BRL'}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <th></th>
            <th>{{farm.income | currency:'BRL'}}</th>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <actions *ngIf="!userClient" [actions]="actions"></actions>
</ion-content>
