// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content{
  overflow: auto;
}

.alertDanger{
  div{
    background-color: #e60a0ac4;
    color: white;

  }
  .alert-button-group button{
    color: white;
  }
    // color: red;
}
.myRow{
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: solid 2px (map-get($colors, primary));
  text-align: left;
  padding: 8px;
}

tr{
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1{
  ion-icon{
    float: right;
    cursor: pointer;
    margin-left: 15px;
  }
}

[flex-end-align]{
  display: flex;
  align-items: flex-end;
}

.farmsWraper{
  margin-right:-16px;
  margin-left:-16px;
  padding-left: 32px;
  width:auto;
  overflow: auto;
}

.Clickable{
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: (map-get($colors, primary));
}

.hide{
  display: none;
}

h1{
  font-size: 30px;
}

.text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
}

.vr-right{
  border-right: 2px solid (map-get($colors, primary));
}


ion-row.filters{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.hr{
  height: 2px;
  background-color: (map-get($colors, primary));
}

.formContent{
  background-color: white;
  border-radius: 5px;
}

.justifyCenter{
  justify-content: center;
}

ion-menu{
  ion-header{
    border-bottom: solid 2px (map-get($colors, primary));
    ion-title .toolbar-title-md{
      color: (map-get($colors, primary))!important;
    }
    background-color: (map-get($colors, dark))!important;
  }

  ion-content{
    background-color: (map-get($colors, dark))!important;
    ion-list{
      ion-item{
        background-color: transparent!important;
      }
      button{
        background-color: transparent!important;
        color: #b9b9b9;
        font-size: inherit;
        .item-inner{
          // color:(map-get($colors, primary));
          color: #b9b9b9;
        }
      }
      ion-list{
        button{
          .item-inner{
            border-bottom: 1px solid #dedede!important;
          }
        }
        button:last-child{
          .item-inner{
            border-bottom: 0!important;
          }
        }
      }
    }
  }
}

ion-content{
  background-color: #ebe8e8!important;
}

.menuHeader{
  background-color: #222;
  border-bottom: solid 2px (map-get($colors, primary));
  button{
    background-color: transparent;
    ion-icon{
      color: #b9b9b9;
      font-size: 30px;
    }
  }
}

.logedNav{
  top:82px;
  bottom: 0px;
  height: auto;
  background-color: #ebe8e8;
}
.showOnMobile{
  display: none;
}

@media screen and (max-width: 769px) {
  .hide-md{
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .hide-lg{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .app-content{
    top: 66px;
    position: absolute;
    bottom: 0px;
    height: auto;
  }
  .hideOnMobile{
    display: none;
  }
  ion-content{
    background-color: #ebe8e8!important;
  }
  .showOnMobile{
    display: flex;
  }
  .logedNav{
    top:0px;
  }
}


ion-col.side-menu{
    background-color: (map-get($colors, dark));
    border-right: solid 2px (map-get($colors, primary));
    height: 100%;
    padding: 0px!important;
}

ion-col.side-menu .imgWraper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-bottom: solid 2px (map-get($colors, primary));
}

ion-grid.container,ion-grid.container ion-row{
  height: 100%;
}

ion-grid{
  display: -webkit-box!important;
}


.horizontalLine{
  border-bottom: solid 2px (map-get($colors, primary));
  position: relative;
  margin: 3rem 12px 5px 12px;
  h2{
    position: absolute;
    top: -1.2rem;
    background-color: (map-get($colors, bg));
    padding-right: 5px;
  }
}

.select-searchable{
  width: 100%;
  color: #999;
}

.select-searchable-value{
  color: #000;
}

.input-person{
  background: #fff;
  display: inline-block;
  width: max-content;
  margin: 0;
}

.input-person input{
  margin: 0;
}

.button-person{
  display: inline-block;
  width: max-content;
  height: 2.6rem;
  vertical-align: middle;
}

.input-person input[type=number]::-webkit-inner-spin-button,
.input-person input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-person{
  display: inline-block;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}
