form-modal {
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
    form{
      ion-item{
        background-color: transparent;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      // width: 50%;
      background-color: #ebe8e8;
      padding: 20px;
      border-top: 5px solid #4a883f;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
