<!--
    Generated template for the FarmIndicatorsPage page.

    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
-->
<ion-content padding>
  <div class="indicatorsContent">
    <h1 *ngIf="farm">{{farm.name}}</h1>
    <div>
      <div>
        <ion-row style="align-items:flex-end;height:auto;background-color:white;border-radius:5px;padding:5px;">
          <ion-col col-4 no-padding>
            <ion-item>
              <ion-label>Safras em</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" (ionChange)="mapUpdate()" [(ngModel)]="myDate">
              </ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-4 no-padding>
            <ion-item *ngIf="farm">
              <ion-label floating>Valor da saca</ion-label>
              <ion-input type="text" (ionChange)="updateGraph()" [(modelMask)]="sack_value" [mask]="farm.currency_id == 'BRL' ? 'R$ 9' : '$ 9'" [form]="RegisterForm" currency="true" name="sack_value"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4 no-padding>
            <ion-item>
              <ion-label floating>Taxa de juros</ion-label>
              <ion-input type="text" (ionChange)="updateGraph()" [(modelMask)]="interest_rate" mask="9%" [form]="RegisterForm" currency="true" name="interest_rate"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="haveCrop" style="width: 100%;margin-top:10px;">
        <button ion-button (click)="selectMap()" [color]="mapSelected ? 'primary':'light'">mapa</button>
        <button ion-button (click)="mapSelected=false" [color]="mapSelected ? 'light':'primary'">lista</button>
        <div [ngStyle]="{'display': mapSelected ? 'block':'none'}" #map style="width: 100%;height:300px"></div>

        <div *ngIf="farm" [ngStyle]="{'display': mapSelected ? 'none':'block'}">
          <div *ngIf="farm" [ngStyle]="{'display': mapSelected ? 'none':'block','height':'300px','width':'100%','overflow':'auto','backgroundColor':'#fff','border':'1px solid #dedede'}" class="">
            <ion-list>
              <div *ngFor="let field of farm.fields" style="width:33.33%;float:left;">
                <ion-item *ngIf="field.selectedCrop">
                  <ion-label>{{field.name}} - {{field.selectedCrop.name}}</ion-label>
                  <ion-checkbox [(ngModel)]="field.selected"></ion-checkbox>
                </ion-item>
              </div>
            </ion-list>
          </div>
          <button *ngIf="haveCrop" ion-button (click)="updateGraph()" [color]="primary" style="float:right;margin:10px">Atualizar</button>
          <ion-item style="width:190px;margin-top:10px;background-color:transparent;float:right;">
            <ion-label>Marcar Todos</ion-label>
            <ion-checkbox [(ngModel)]="masterCheck" (click)="checkAll()"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </div>
    <ion-row *ngIf="farm" style="width: 100%">
      <farm-indicators style="width:100%" [(fields)]="farm.fields"></farm-indicators>
    </ion-row>
  </div>

</ion-content>