<!-- Generated template for the NavBarComponent component -->
<div *ngIf="render" class="wraper" (mouseenter)="openPageMenu(page)" (mouseleave)="cloasePageMenu(page)">
  <ion-item>
    <button (click)="openPage(page,$event)">
      <ion-icon no-margin float-left class="primary" name="{{page.icon}}"></ion-icon>
      <p float-left>{{page.name}}</p>
    </button>
  </ion-item>
  <div *ngIf="page.itensToogle && page.itens" class="itens">
    <button (click)="openPage(iten,$event)" class="toggleIten" *ngFor="let iten of page.itens">
      {{iten.name}}
    </button>
  </div>
</div>
