<!--
  Generated template for the CropRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <h1>Registrar nova Safra</h1>
  <form (ngSubmit)="Register()" #RegisterForm="ngForm">
    <ion-grid padding class="formContent">
      <ion-row style="align-items: flex-end;">
        <ion-col col-12 col-md-12>
          <ion-item>
            <ion-label floating>Nome*</ion-label>
            <ion-input type="text" required maxlength="45" #name="ngModel" [(ngModel)]="crop.name" name="name" value=""></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item padding-top>
            <ion-label>Cliente*</ion-label>
            <ion-select [(ngModel)]="client" (ngModelChange)="ClientSelected($event)" required name="client">
              <ion-option *ngFor="let client of clients" value="{{client.id}}">{{client.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item padding-top>
            <ion-label>Fazenda*</ion-label>
            <ion-select [(ngModel)]="farm" (ngModelChange)="FarmSelected($event)" required name="farm">
              <ion-option *ngFor="let farm of filteredFarms" [value]="farm">{{farm.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item padding-top>
            <ion-label>Talhão*</ion-label>
            <ion-select [(ngModel)]="crop.field_id" (ngModelChange)="FieldSelected($event)" required name="field">
              <ion-option *ngFor="let field of filteredFields" value="{{field.id}}">{{field.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item padding-top>
            <ion-label>Cultura*</ion-label>
            <ion-select [(ngModel)]="crop.culture_id" required name="culture">
              <ion-option *ngFor="let culture of cultures" value="{{culture.id}}">{{culture.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-4>
          <ion-item>
            <ion-label>Data inicial*</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" max="{{maxDate}}" pickerFormat="DD MM YYYY" name="initial_date" [(ngModel)]="crop.initial_date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-4>
          <ion-item>
            <ion-label>Data final*</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" max="{{maxDate}}" pickerFormat="DD MM YYYY" name="final_date" [(ngModel)]="crop.final_date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-md-4>
          <ion-item>
            <ion-label floating>Expectativa(sacas)*</ion-label>
            <ion-input type="text" required maxlength="45" #name="ngModel" [(ngModel)]="crop.sack_expected" name="expected" value=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col margin-top col-12 col-md-6>
        <ion-row padding-top class="address">
          <label>Inventario a ser usado nesta safra</label>
          <ion-col col-12>
            <ion-item *ngFor="let iten of inventoriSelected ">
              <ion-label>{{iten.name}}</ion-label>
              <ion-checkbox [(ngModel)]="iten.selected" name="checkBox-{{iten.id}}"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-row class="justifyCenter" margin-bottom>
        <button type="submit" [disabled]="!RegisterForm.form.valid" ion-button col-12 col-md-3>Cadastrar</button>
      </ion-row>
      <ion-col *ngIf="mapUrl" col-12 col-md-6>
        <iframe
        width="100%"
        height="450"
        frameborder="0" style="border:0"
        [src]="mapUrl" allowfullscreen></iframe>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
