page-activity-detail {
  ion-row.description{
    font-size: 14px;
    line-height: 26px;
  }
  ion-row.info{
    ion-col{
      // text-align: center;
    }
  }
  h1{
    ion-icon{
      float: right;
      cursor: pointer;
    }
  }
}
